<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ title|default:"Сайт" }}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'fefu_lab/css/style.css' %}">
</head>
<body>
    <nav>
        <a href="{% url 'fefu_lab:index' %}">Главная</a> |
        <a href="{% url 'fefu_lab:about' %}">О нас</a> |
        <a href="{% url 'fefu_lab:student_list' %}">Студенты</a> |
        <a href="{% url 'fefu_lab:course_list' %}">Курсы</a> |
        
        {% if user.is_authenticated %}
            {% if user.student_profile.role == 'TEACHER' or user.student_profile.role == 'ADMIN' %}
                <a href="{% url 'fefu_lab:teacher_dashboard' %}">Дашборд</a> |
            {% else %}
                <a href="{% url 'fefu_lab:student_dashboard' %}">Дашборд</a> |
            {% endif %}
            <a href="{% url 'fefu_lab:profile' %}">Профиль ({{ user.first_name }})</a> |
            {% if user.is_staff %}
                <a href="/admin/">Админка Django</a> |
            {% endif %}
            {% if user.student_profile.role == 'ADMIN' %}
                <a href="{% url 'fefu_lab:admin_dashboard' %}">Админка</a> |
            {% endif %}
            <a href="{% url 'fefu_lab:logout' %}">Выйти</a>
        {% else %}
            <a href="{% url 'fefu_lab:login' %}">Вход</a> |
            <a href="{% url 'fefu_lab:register' %}">Регистрация</a>
        {% endif %}
    </nav>
    
    <main>
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        
        <h1>{% block heading %}{% endblock %}</h1>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
