<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ title|default:"Сайт" }}{% endblock %}</title>
  </head>
  <body>
    <nav>
      <a href="{% url 'fefu_lab:index' %}">Главная</a> |
      <a href="{% url 'fefu_lab:about' %}">О нас</a> |
      <a href="{% url 'fefu_lab:feedback' %}">Обратная связь</a> |
      <a href="{% url 'fefu_lab:student_detail' 1 %}">Пример студента</a> |
    </nav>
    <main>{% block content %}{% endblock %}</main>
  </body>
</html>
